
    <div class="container row" style="background-image: url('img/biz2.jpg');">
      <div class="col-sm-6">
        <h2 class="blue-text lighten-4">Keito</h2>
        <h4 class="blue-text lighten-2">"Be more..Do more.."</h4>
      </div>
    </div>

    <div id="appSS" class="blue lighten-4" data-spy="scroll" data-target="#myScrollspy">
      <div id="myScrollspy">
        <ul class="nav nav-tabs tabs" style="background-color: #BBDEFB;">
            <li id="aboutli" class="tab active"><a data-toggle="tab" data-target="#about">About</a></li>
            <li id="teamli" class="tab"><a data-toggle="tab" data-target="#team">Team</a></li>
        </ul>
      </div>

    <div class="tab-content">
      <div id="about" class="tab-pane fade in active">
        <div class="container">
          <h5>Our Vision</h5>
          <ul style="list-style: none;">
            <li>Short term :</li>
            <li>Team based communication and colloboration platform to reduce mails.</li>
            <li>Long term :</li>
            <li>Personalized experience for mails to its users using AI, hence increase efficiency.</li>
          </ul>

          <br><br><br>

          <h5>Why we built Keito?</h5>
          <ul style="list-style: none;">
            <li>Started as a tool to help each other- using nearBy mode and collaboration.</li>
            <li>Initial Users provided their feedback and our team had to take it to the next level of communication and collaboration.</li>
            <li>This validated learning for better user experience and satisfaction enabled us to be here.</li>
            <li>This product helped our Team to be more and do more in this short span of time.</li>
            <li>Hope you all have the same experience - "Be more, Do more"</li>
            <li>-Team Keito</li>
          </ul>
        </div>
      </div>
      <div id="team" class="tab-pane fade">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <!-- -->
              <div class="card small center">

                <img class="activator" src="img/team/Amal.jpg" alt="team memeber photo">

                <div class="card-content card-pading">
                  <span class="card-title activator grey-text text-darken-4">
                    Amal PS
                    <i class="i-mar material-icons right">more_vert</i>
                  </span>
                  <p>
                    Co-founder
                  </p>
                </div>
                <div class="card-action blue lighten-1">
                  <a href=""><i class="fa fa-envelope fa-2x"></i></a>
                  <a href=""><i class="fa fa-facebook fa-2x"></i></a>
                  <a href=""><i class="fa fa-linkedin fa-2x"></i></a>
                  <a href=""><i class="fa fa-twitter fa-2x"></i></a>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">
                    Amal PS
                    <i class="material-icons right" style="margin-top: 1vh;">close</i>
                  </span>
                  <p style="text-align: left;">
                  Creative Director -serial entrepreneur andvisionary. 2yrs of industrial experience in product design and architecture in Edgeverve (Infosys subsidary) and Infosys. 
                  </p>
                </div>
              </div>
              <!-- -->
            </div>
            <div class="col-sm-4">
              <!-- -->
              <div class="card small center">

                <img class="activator" src="img/team/Nithin.jpg" alt="team memeber photo">

                <div class="card-content card-pading">
                  <span class="card-title activator grey-text text-darken-4">
                    Nithin James
                    <i class="i-mar material-icons right">more_vert</i>
                  </span>
                  <p>
                    Chief Product Architect
                  </p>
                </div>
                <div class="card-action blue lighten-1">
                  <a href=""><i class="fa fa-envelope fa-2x"></i></a>
                  <a href=""><i class="fa fa-facebook fa-2x"></i></a>
                  <a href=""><i class="fa fa-linkedin fa-2x"></i></a>
                  <a href=""><i class="fa fa-twitter fa-2x"></i></a>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">
                    Nithin James
                    <i class="material-icons right" style="margin-top: 1vh;">close</i>
                  </span>
                  <p style="text-align: left;">
                  Techie - have played a key role in two start-ups.1.5 yrs of industrial experience in R&amp;D mobility and wearable technologies in Infosys Labs.Currently pursuing MS in security.
                  </p>
                </div>
              </div>
              <!-- -->
            </div>
            <div class="col-sm-4">
              <!-- -->
              <div class="card small center">

                <img class="activator" src="img/team/Bhavishya.jpg" alt="team memeber photo">

                <div class="card-content card-pading">
                  <span class="card-title activator grey-text text-darken-4">
                    Bhavishya Sharma
                    <i class="i-mar material-icons right">more_vert</i>
                  </span>
                  <p>
                    Advisor
                  </p>
                </div>
                <div class="card-action blue lighten-1">
                  <a href=""><i class="fa fa-envelope fa-2x"></i></a>
                  <a href=""><i class="fa fa-facebook fa-2x"></i></a>
                  <a href=""><i class="fa fa-linkedin fa-2x"></i></a>
                  <a href=""><i class="fa fa-twitter fa-2x"></i></a>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">
                    Bhavishya Sharma
                    <i class="material-icons right" style="margin-top: 1vh;">close</i>
                  </span>
                  <p style="text-align: left;">
                  MD, Athena Executive,  Search and Consulting Vice-chairman at IIC partners.
Founder and visionary behind Athena. He leads the TMT (Telecom/Media/Technology).He has led
the operations for a large Asian Executive Search firm in India and managed the search practice for
one of the Global Top 15 Executive Search firms in India. Bhavishya is an engineering graduate
from the prestigious Indian Institute of Technology. Turn Over(present) : 2.08 Million USD
                  </p>
                </div>
              </div>
              <!-- -->
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <!-- -->
              <div class="card small center">

                <img class="activator" src="img/team/Johns.jpg" alt="team memeber photo">

                <div class="card-content card-pading">
                  <span class="card-title activator grey-text text-darken-4">
                    Johns
                    <i class="i-mar material-icons right">more_vert</i>
                  </span>
                  <p>
                    Lead UX-Design
                  </p>
                </div>
                <div class="card-action blue lighten-1">
                  <a href=""><i class="fa fa-envelope fa-2x"></i></a>
                  <a href=""><i class="fa fa-facebook fa-2x"></i></a>
                  <a href=""><i class="fa fa-linkedin fa-2x"></i></a>
                  <a href=""><i class="fa fa-twitter fa-2x"></i></a>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">
                    Johns
                    <i class="material-icons right" style="margin-top: 1vh;">close</i>
                  </span>
                  <p style="text-align: left;">
                    Creative,sharp and talented designer. Been apart of many designing teams from his college days till now.
                  </p>
                </div>
              </div>
              <!-- -->
            </div>
            <div class="col-sm-4">
              <!-- -->
              <div class="card small center">

                <img class="activator" src="img/team/Risal.jpg" alt="team memeber photo">

                <div class="card-content card-pading">
                  <span class="card-title activator grey-text text-darken-4">
                    Risal
                    <i class="i-mar material-icons right">more_vert</i>
                  </span>
                  <p>
                    Lead Android Engineer
                  </p>
                </div>
                <div class="card-action blue lighten-1">
                  <a href=""><i class="fa fa-envelope fa-2x"></i></a>
                  <a href=""><i class="fa fa-facebook fa-2x"></i></a>
                  <a href=""><i class="fa fa-linkedin fa-2x"></i></a>
                  <a href=""><i class="fa fa-twitter fa-2x"></i></a>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">
                    Risal
                    <i class="material-icons right" style="margin-top: 1vh;">close</i>
                  </span>
                  <p style="text-align: left;">
                    Strengths are coaching, end-to-end knowlegde of product development and owner of many apps in playstore.
                  </p>
                </div>
              </div>
              <!-- -->
            </div>
            <div class="col-sm-4">
              <!-- -->
              <div class="card small center">

                <img class="activator" src="img/team/Yadhu.jpg" alt="team memeber photo">

                <div class="card-content card-pading">
                  <span class="card-title activator grey-text text-darken-4">
                    Yadhu
                    <i class="i-mar material-icons right">more_vert</i>
                  </span>
                  <p>
                    Android Engineer-2
                  </p>
                </div>
                <div class="card-action blue lighten-1">
                  <a href=""><i class="fa fa-envelope fa-2x"></i></a>
                  <a href=""><i class="fa fa-facebook fa-2x"></i></a>
                  <a href=""><i class="fa fa-linkedin fa-2x"></i></a>
                  <a href=""><i class="fa fa-twitter fa-2x"></i></a>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">
                    Yadhu
                    <i class="material-icons right" style="margin-top: 1vh;">close</i>
                  </span>
                  <p style="text-align: left;">
                    Technically sound android engineer. Strengths are chatting applications, notifications and performance.
                  </p>
                </div>
              </div>
              <!-- -->
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <!-- -->
              <div class="card small center">

                <img class="activator" src="img/team/Aditi.jpg" alt="team memeber photo">

                <div class="card-content card-pading">
                  <span class="card-title activator grey-text text-darken-4">
                    Aditi
                    <i class="i-mar material-icons right">more_vert</i>
                  </span>
                  <p>
                    Technical consultant
                  </p>
                </div>
                <div class="card-action blue lighten-1">
                  <a href=""><i class="fa fa-envelope fa-2x"></i></a>
                  <a href=""><i class="fa fa-facebook fa-2x"></i></a>
                  <a href=""><i class="fa fa-linkedin fa-2x"></i></a>
                  <a href=""><i class="fa fa-twitter fa-2x"></i></a>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">
                    Aditi
                    <i class="material-icons right" style="margin-top: 1vh;">close</i>
                  </span>
                  <p style="text-align: left;">
                    She handles the product analysis. Manages and mentors interns. Timeline and checking alignemnt with product road-map.
                  </p>
                </div>
              </div>
              <!-- -->
            </div>
            <div class="col-sm-4">
              <!-- -->
              <div class="card small center">

                <img class="activator" src="img/team/Beemon.jpg" alt="team memeber photo">

                <div class="card-content card-pading">
                  <span class="card-title activator grey-text text-darken-4">
                    Beemon
                    <i class="i-mar material-icons right">more_vert</i>
                  </span>
                  <p>
                    Intern Platform Engineer-2
                  </p>
                </div>
                <div class="card-action blue lighten-1">
                  <a href=""><i class="fa fa-envelope fa-2x"></i></a>
                  <a href=""><i class="fa fa-facebook fa-2x"></i></a>
                  <a href=""><i class="fa fa-linkedin fa-2x"></i></a>
                  <a href=""><i class="fa fa-twitter fa-2x"></i></a>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">
                    Beemon
                    <i class="material-icons right" style="margin-top: 1vh;">close</i>
                  </span>
                  <p style="text-align: left;">
                    Passionate to learn and handles the admin panel, web-development for the product. He is undergoing our advanced internship programme and strives to be a part of the team.
                  </p>
                </div>
              </div>
              <!-- -->
            </div>
            <div class="col-sm-4">
              <!-- -->
              <div class="card small center">

                <img class="activator" src="img/team/Prince.jpg" alt="team memeber photo">

                <div class="card-content card-pading">
                  <span class="card-title activator grey-text text-darken-4">
                    Prince
                    <i class="i-mar material-icons right">more_vert</i>
                  </span>
                  <p>
                    Intern UX-Design-1
                  </p>
                </div>
                <div class="card-action blue lighten-1">
                  <a href=""><i class="fa fa-envelope fa-2x"></i></a>
                  <a href=""><i class="fa fa-facebook fa-2x"></i></a>
                  <a href=""><i class="fa fa-linkedin fa-2x"></i></a>
                  <a href=""><i class="fa fa-twitter fa-2x"></i></a>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">
                    Prince<br>Intern UX-Design-1
                    <i class="material-icons right" style="margin-top: 1vh;">close</i>
                  </span>
                  <p style="text-align: left;">
                    Pursuing his studies joined as an intern in our firm and been a valuable contributor to the team. B-Tech in Mar Athanasius College of Engineering,Kothamangalam in computer science and engineering(2013-17).
                  </p>
                </div>
              </div>
              <!-- -->
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <!-- -->
              <div class="card small center">

                <img class="activator" src="img/team/Shrimadhav.jpg" alt="team memeber photo">

                <div class="card-content card-pading">
                  <span class="card-title activator grey-text text-darken-4">
                    Shrimadhav UK
                    <i class="i-mar material-icons right">more_vert</i>
                  </span>
                  <p>
                    Intern UX-Design-1
                  </p>
                </div>
                <div class="card-action blue lighten-1">
                  <a href=""><i class="fa fa-envelope fa-2x"></i></a>
                  <a href=""><i class="fa fa-facebook fa-2x"></i></a>
                  <a href=""><i class="fa fa-linkedin fa-2x"></i></a>
                  <a href=""><i class="fa fa-twitter fa-2x"></i></a>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">
                    Shrimadhav UK
                    <i class="material-icons right" style="margin-top: 1vh;">close</i>
                  </span>
                  <p style="text-align: left;">
                    Pursuing his studies was selected for an internship and successfully completed the same. B-Tech in NIT, Calicut in computer science and engineering(2013-17).
                  </p>
                </div>
              </div>
              <!-- -->
            </div>
            <div class="col-sm-4">
              <!-- -->
              <div class="card small center">

                <img class="activator" src="img/team/Sanath.jpg" alt="team memeber photo">

                <div class="card-content card-pading">
                  <span class="card-title activator grey-text text-darken-4">
                    Sanath
                    <i class="i-mar material-icons right">more_vert</i>
                  </span>
                  <p>
                    Intern UX-Design-1
                  </p>
                </div>
                <div class="card-action blue lighten-1">
                  <a href=""><i class="fa fa-envelope fa-2x"></i></a>
                  <a href=""><i class="fa fa-facebook fa-2x"></i></a>
                  <a href=""><i class="fa fa-linkedin fa-2x"></i></a>
                  <a href=""><i class="fa fa-twitter fa-2x"></i></a>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">
                    Sanath
                    <i class="material-icons right" style="margin-top: 1vh;">close</i>
                  </span>
                  <p style="text-align: left;">
                    Pursuing his studies was selected for an internship and successfully completed the same. B-Tech in NIT, Calicut in computer science and engineering(2013-17).
                  </p>
                </div>
              </div>
              <!-- -->
            </div> 
          </div>
        </div>

      </div>
    </div>
  </div>
