<div class="container row">
    <div class="row-sm-6">
        <h2 class="white-text lighten-4">Be organized</h2>
        <h4 class="white-text lighten-2">Connect | Share | Inspire ...</h4>
    </div>
</div>

<div id="bizSS" class="blue lighten-4" data-spy="scroll" data-target="#myScrollspy">
    <div id="myScrollspy">
        <ul class="nav nav-tabs tabs" style="background-color: #BBDEFB;">
            <li id="aboutil" class="tab active">
                <a data-toggle="tab" data-target="#about"><img src="img/logo.png" style="width: 30px;margin-top: -20px;"><span id="tab_hide">   About</span>
                </a>
            </li>
            <li id="bcil" class="tab">
                <a data-toggle="tab" data-target="#bc"><img src="img/tab/communication.png" style="width: 30px;margin-top: -20px;"><span id="tab_hide">    Communication</span>
                </a>
                </a>
            </li>
            <li id="promoteil" class="tab">
                <a data-toggle="tab" data-target="#promote"><img src="img/tab/collobration.png" style="width: 30px;margin-top: -20px;"><span id="tab_hide">    Collaboration</span>
                </a>
                </a>
            </li>
            <li id="casestudiesil" class="tab">
                <a data-toggle="tab" data-target="#casestudies"><img src="img/tab/connectivity.png" style="width: 30px;margin-top: -20px;"><span id="tab_hide">    Connectivity</span>
                </a>
                </a>
            </li>
        </ul>
    </div>

    <div class="tab-content">
        <div id="about" class="tab-pane fade in active">
            <div class="container textenlarger">
                <h5><!-- Our Vision &lt;Short term and Long term&gt; --></h5>
                <ul style="list-style: none;">
                    <li>Keito "Keep in touch" focuses on three regions that are important in any corporates - communication, connectivity and collaboration.Keito is team based real time communication and collaboration platform. That will move away people from traditional mail and chat communication paradigm in today’s corporate. This is achieved using relationship building algorithms and connections.
                    </li>
                    <br>
                    <li>Communication and collaboration is important for making decision faster, for less effort knowledge management, for assimilating new ideas by employee connect and for employee engagement.</li>
                    <br>
                    <br>
                    <br>
                </ul>
            </div>
        </div>
        <div id="bc" class="tab-pane fade">
            <div class="container textenlarger">
                <h5><!-- Our Vision &lt;Short term and Long term&gt; --></h5>
                <ul style="list-style: none;">
                    <li>Brings all your corporate communication in a single place</li>
                    <li>Organize your conversations/discussions by team.</li>
                    <br>
                    <li>Create groups by departments, projects, locations or anything else viz. hobbies, interests. </li>
                    <li>Create either “Private teams” or “Open teams” within corporates.</li>
                    <br>
                    <li>“Private teams” require an invitation to join the group and participate. </li>
                    <li>“Open Teams” are open to even everyone in that organization. </li>
                    <br>
                    <li>Direct Messaging for one-to- one conversations within the team.</li>
                    <li>Share files –images, PDFs, documents, spreadsheets etc.</li>
                    <br>
                    <li>Create “Instant teams” prior to the meeting for any special conversations.</li>
                    <li>Specified storage spaces available for corporates and team discussion.</li>
                </ul>
            </div>
        </div>
        <div id="promote" class="tab-pane fade">
            <div class="container textenlarger">
                <h5><!-- Our Vision &lt;Short term and Long term&gt; --></h5>
                <ul style="list-style: none;">
                    <li>Leverage strength of your network to do more in less time.</li>
                    <li>Use it as a mobile bulletin board- instantly share information. </li>
                    <li>Supports location based information sharing. </li>
                    <br>
                    <li>Use nearBy mode to network with people in vicinity. </li>
                    <li>Reach out to your colleagues for help, if you are in a new city during travel or on re-location. </li>
                    <br>

                    <li>Reclaim your time !</li>
                    <br>
                    <br>
                </ul>
            </div>
        </div>
        <div id="casestudies" class="tab-pane fade">
            <div class="container textenlarger">
                <h5><!-- Our Vision &lt;Short term and Long term&gt; --></h5>
                <ul style="list-style: none;">
                    <li>Form groups for carpools, sharing knowledge, organizing events, parties etc. </li>
                    <li>Create Interest groups, find best doctors, best school for your kids.</li>
                    <br>
                    <li>Use nearBy mode to network with people in vicinity and hence the power of being connected. </li>
                    <li>Always be connected with all your collegues even while you are on the move. </li>
                    <li>A new way of looking at the corporate connectivity.</li>
                    <br>
                    <li>Explore the power of connectivity with it's nearBy mode and instant messages.</li>
                    <br>
                    <br>
                </ul>
            </div>
        </div>
    </div>
</div>
