
    <div class="container row" style="background-image: url('img/biz2.jpg');">
      <div class="col-sm-6">
        <h2 class="blue-text lighten-4">Keito for Biz</h2>
        <h4 class="blue-text lighten-2">Give 1 extra hour to you, your family and career.</h4>
      </div>
    </div>

    <div id="bizSS" class="blue lighten-4" data-spy="scroll" data-target="#myScrollspy">
      <div id="myScrollspy">
        <ul class="nav nav-tabs tabs" style="background-color: #BBDEFB;">
            <li id="aboutil" class="tab active"><a data-toggle="tab" data-target="#about"><img src="img/logo.png" style="width: 30px;margin-top: -20px;"><span id="tab_hide">   About</span></a></li>
            <li id="bcil" class="tab"><a data-toggle="tab" data-target="#bc"><img src="img/tab/communication.png" style="width: 30px;margin-top: -20px;"><span id="tab_hide">    Communication</span></a></a></li>
            <li id="promoteil" class="tab"><a data-toggle="tab" data-target="#promote"><img src="img/tab/collobration.png" style="width: 30px;margin-top: -20px;"><span id="tab_hide">    Collaboration</span></a> </a></li>
            <li id="casestudiesil" class="tab"><a data-toggle="tab" data-target="#casestudies"><img src="img/tab/connectivity.png" style="width: 30px;margin-top: -20px;"><span id="tab_hide">    Connectivity</span></a></a></li>
        </ul>
      </div>

      <div class="tab-content">
        <div id="about" class="tab-pane fade in active">
          <div class="container">
            <h5><!-- Our Vision &lt;Short term and Long term&gt; --></h5>
            <ul style="list-style: none;">
              <li>"Keito for Biz" is a team based real time communication and collaboration platform. That will move away people from traditional mail and chat communication paradigm in today’s corporate.</li>
              <li>Communication and collaboration is important for making decision faster, for less effort knowledge management, for assimilating new ideas by employee connect and for employee engagement. And all this for better working environment and improving employees’ productivity.</li>
              <li>However today corporate are still depending on communication tools that were designed in 80’s. Predominantly on emails. As per one of the survey people spend on an average 28% of their working time in sorting out mails. And more than 40% people believe that they need less mails. Then there are other collaboration tools, both free and paid, with very poor user-experience or people started moving on social media application like whatsapp for official discussion in informal and unstructured way.</li>
            <!-- </ul>

            <br><br><br>

            <h5>Why we built Keito?</h5>
            <ul style="list-style: none;"> -->
              <li>Therefor we believe that by integrating user-experience and simplicity of social media into corporate communication and collaboration platform, KEITO, will make people “Be More” to “Do More”</li>
            </ul>
          </div>
        </div>
        <div id="bc" class="tab-pane fade">
          <div class="container">
            <h5><!-- Our Vision &lt;Short term and Long term&gt; --></h5>
            <ul style="list-style: none;">
              <li>What does it do?</li>
              <li>You can create teams for each of your projects, interest groups and hobbies which includes your colleagues, friends and family, peers and so on.</li>
              <li>How does it help me?</li>
              <li>All your discussions regarding the team/group will be restricted towards that particular group members. You can have one-to-one discussions within the team and even more. It enables you to focus on your interested segment of people and piece of work.</li>
              <li>Can you be more?</li>
              <li>Yes, you can. You have different choices of making use of any of it's unique features. Each of this team will have independent and individual profile settings. So can prioritize your work with ease.</li>              
              <li>Instant teams can be created for a meeting 30min prior so focus only on your meeting and making sure that is efficient and do more.</li>
              <li>How it impacts your work-life balance?</li> 
              <li>Many threads of mailing is a myth. Single and easy thread management with chat like user experience to mails. Answer button enables you to support the views of your colleagues and point out the right files and documents. Get faster decision making on go.</li>
              <li>No need to sort your mails. Helps you to be focused on your needs based on priorities. Specified storage spaces available for corporates and team discussion.</li>
              <li>All this enables you to save more time for you, your family and for a better career.</li>
              <li>Why me?</li>
              <li>Each of us are special and you deserve something better for your work-life balance without much impact on your aspirations and desires.</li>
            </ul>
          </div>
        </div>
        <div id="promote" class="tab-pane fade">
          <div class="container">
            <h5><!-- Our Vision &lt;Short term and Long term&gt; --></h5>
            <ul style="list-style: none;">
              <li>What does it do?</li>
              <li>A mobile bulletin board for your organization as well as your interest groups. Geo-based bulletin board, enables you to get right informations and knowledge through your colleagues or peers at the right time, at the right place.</li>
              <li>How does it help me?</li>
              <li>Assume you are a person who lives in any of these cities like Bangalore, Pune, Mumbai, Chennai, Hyderabad, Cochin, Delhi and so on. At times everybody have to travel for one reason or the other. The needs might differ- it can be personal or professional. But how will you get support or assistance from your colleagues, if you don't know where they are? It helps you to have collaboration within your colleagues and peers(maybe long lost ones).  </li>
              <li>Can you be more?</li>
              <li>Yes, you can. You can use this for sharing carpools, knowledge sharing, organizing events, sharing events, team party, invitation and so on. You need to determine how to use it. Make your life a better place.</li>
              <li>How it impacts your work-life balance?</li>
              <li>People always take their work home. But we let you take your organizational strengths home. Once you are well connected within the organization, it's easier to use its strengths for your personal life as well. Like, finding the best doctor through your friend, best school for your children in a locality, tuition centers, maids and services availability and do more.</li>
              <li>Why me?</li>
              <li>Each of us are special and you deserve something better for your life. You are responsible for your family, so provide them the best that is possible.</li>
            </ul>
          </div>
        </div>
        <div id="casestudies" class="tab-pane fade">
          <div class="container">
            <h5><!-- Our Vision &lt;Short term and Long term&gt; --></h5>
            <ul style="list-style: none;">
              <li>What does it do?</li>
              <li>You will have a nearBy mode to start you knowledge sharing within any of the teams which you have created.</li>
              <li>How does it help me?</li>
              <li>You are not aware about the strength of your peers in an organization. Once you are in your home and you might wish if i had a carpool from here, if i could ask someone to learn java, if i could interact with my team more. All these are possible. If you have a nearBy mode enabled, you will be able connect with colleagues in vicinity taking your corporate connectivity to the next frontier. </li>
              <li>Can you be more?</li>
              <li>Yes you can. Maybe you are an introvert or a shy person. But this can help you get connected and start pushing your limits. If you are a very interactive person- you might be the party starter for your people. If you are interested in taking sessions, conduct live sessions with nearBy interested colleagues and do more.</li>
              <li>How it impacts your work-life balance?</li>
              <li>Connectivity is one of the key strengths for any person. If you are well-connected within your vicinity this are becoming easy. Always stay well-connected doesn't mean social media connections- this can be taken to the next level. Actual human interactions can always create a better you.</li>
              <li>Why me?</li>
              <li>Each of us are special and you deserve something better for yourself.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
