
    <div class="container row">
      <div class="col-sm-6">
        <h2 class="blue-text lighten-4">FAQ</h2>
        <h4 class="blue-text lighten-2">Frequently Asked Questions</h4>
      </div>
      <div class="col-sm-6">
          <!--<iframe id="appanim" class="embed-responsive-item" src="partials/faqanim/index.html" frameborder="0" scrolling="no" /> -->
          <img src="img/faq.png" style="width: 70%;    margin-left: 6vw;">
      </div>
    </div>

    <div id="faqSS" class="blue lighten-4" data-spy="scroll" data-target="#myScrollspy">
      <div id="myScrollspy">
        <ul class="nav nav-tabs tabs" style="background-color: #BBDEFB;">
            <li id="pricingli" class="tab active"><a data-toggle="tab" data-target="#pricing">Pricing</a></li>
            <li id="productli" class="tab"><a data-toggle="tab" data-target="#product">Product</a></li>
        </ul>
      </div>

    <div class="tab-content">
      <div id="pricing" class="tab-pane fade in active">
        <div class="container">
          <h5>Sample Question 1?</h5>
          <ul style="list-style: none;">
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
          </ul>

          <br><br><br>

          <h5>Sample Question 2?</h5>
          <ul style="list-style: none;">
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
          </ul>
        </div>
      </div>
      <div id="product" class="tab-pane fade">
        <div class="container">
          <h5>Sample Question 1?</h5>
          <ul style="list-style: none;">
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
          </ul>

          <br><br><br>

          <h5>Sample Question 2?</h5>
          <ul style="list-style: none;">
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
