body {
    margin: 0;
}

.scientific {
    background: url(back-3.svg) 0 0 repeat;
}

.scientific-world {
    min-width: 450px;
    background-color: #FFF;
    margin: 0;
    overflow: hidden;
}

.scientific-world > div {
    position: relative;
    width: 450px;
    height: 285px;
    padding-top: 0px;
    background: #FFF url(wrld3.svg) 0px 30px no-repeat;
}

.bubbles {
    content: '';
    position: absolute;
    background: url(bubbles.svg) 0 0 no-repeat;
    width: 40px;
    height: 70px;
    top: -90px;
    left: 33px;
    opacity: 0;
}

.tube {
    position: relative;
    display: inline-block;
    background: url(test-tube.svg) 0 0 no-repeat;
    width: 100px;
    height: 150px;
    margin: 225px 0 0 20%;
}

.reagent {
    content: '';
    position: absolute;
    width: 90px;
    height: 90px;
    background: #FFF ;
    border-radius: 50%;
    top: 45px;
    left: 5px;
    z-index: -1;
}

.sign {
    position: absolute;
    width: 100px;
    height: 100px;
    background: url(radiation.svg) 0 0 no-repeat;
    left: 30px;
    top: 30px;
}

.battery {
    position: relative;
    background: url(btry.svg) 0 0 no-repeat;
    width: 200px;
    height: 100px;
    margin: 75px auto 0;
}

.energy-logo {
    content: '';
    position: absolute;
    background: url(enrgy.svg) 0 0 no-repeat;
    width: 50px;
    height: 50px;
    top: 25px;
    left: 80px;
}

.energy-fill {
    content: '';
    position: absolute;
    height: 95px;
    z-index: -1;
    left: 24px;
    top: 2px;
    width: 151px;
}

.plane {
    position: absolute;
    width: 130px;
    height: 80px;
    left: 600px;
    top: -10px;
    background: url(plane.svg) 0px 0px no-repeat;
}

.car {
    position: absolute;
    width: 140px;
    height: 60px;
    left: 470px;
    bottom: 10px;
    background: url(car.svg) 0px 0px no-repeat;
}

.antenna {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 115px;
    top: 145px;
    background: url(antenna.svg) 0px 0px no-repeat;
    -webkit-transform-origin: 40% 80%;
            transform-origin: 40% 80%;
}

.fog-1, .fog-2 {
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    opacity: 0;
}

.fog-1 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 275px;
    top: 25px;
    background-image: url(fog-1.svg);
}

.fog-2 {
    position: absolute;
    width: 50px;
    height: 70px;
    left: 320px;
    top: 10px;
    background-image: url(fog-2.svg);
}
