@keyframes move-plane {
    to {
        transform: translateX(-1000px);
    }
}

.plane {
    animation-name: move-plane; 
    animation-duration: 10s;
}


@keyframes move-antenna {
    to {
        transform: rotate(-60deg);
    }
}

.antenna {
    animation-name: move-antenna; 
    animation-duration: 2s;
    animation-delay: 2s; 
    animation-fill-mode: forwards;
}

@keyframes move-car {
    to {
        transform: translateX(-350px);
    }
}

.car {
    animation-name: move-car;
    animation-duration: 4s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

@keyframes show-fog {
    to {
        opacity: 1;
    }
}

.fog-1, .fog-2 {
    animation-name: show-fog;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

.fog-1 {
    animation-delay: 9s;
}
.fog-2 {
    animation-delay: 10s;
}