<!--
/*
  Map contents for keito screen for Pencil and eraser
*/
-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Marker Animations</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map-canvas1 {
        height: 100%;
      }
    </style>
  </head>
  <body>

    <div id="map-canvas1"></div>

    <script>
      function initializeKeito() {
          var locations = [
              ['Why Keito ? : Keito-Keep in touch is a trust based connectivity platform. We do have large no. of social networking apps and platforms, but do we have a platform where you can connect and manage all your networks and connections in a comfortable and easy manner. Helping you in many situations the way you want, the way you like.', 28.6139, 77.2090, 'Why Keito ?', 1],
              ['Solution for you : Connecting to all your alumi network of school and colleges with closed group chats and even navigate to your friends and gave a surprise. Planning for your alumini in any city, state or country with ease.', 12.9716, 77.5946, 'For alumini, instituation and students', 2],
              ['Solution for you : Connecting to all your work network with ease. Share your thoughts and get their support in matters of need and urgency.', 19.0760, 72.8777, 'Sharing your interest and thoughts - coorporate network', 3],
              ['Solution for you : Connecting to all your fiends and family.', 17.3850, 78.4867, 'For friends and family', 4],
              ['Solution for you : Emergency alerts and support from your tusted networks', 18.5204, 73.8567, 'For emergency', 5],
              ['Solution for you : Getting carpools was never been easier if you know the person who drives the car. - already connected to you through trusted network', 13.0827, 80.2707, 'For carpools and other services using your networks', 6],
              ['What are we solving ? : You need to tell us what all it can do. simple, safe and secure - if you are well connected', 9.9312, 76.2673, 'What are we solving?', 7],
              ['Surprise your friends ? : Navigate to your school mates, alumini and coorporates while connected', 25.4358, 81.8463, 'Just for friends', 8],
          ];
          var map = new google.maps.Map(document.getElementById('map-canvas1'), {
              center: {lat: 20.5937, lng: 78.9629},
              zoom: 4,
              mapTypeId: google.maps.MapTypeId.ROADMAP
          });
          var bounds = new google.maps.LatLngBounds();
          var infowindow = new google.maps.InfoWindow();
          for (i = 0; i < locations.length; i++) {
              var marker = new google.maps.Marker({
                  position: {lat: locations[i][1], lng: locations[i][2]},
                  map: map
              });
              //extend the bounds to include each marker's position
              bounds.extend(marker.position);
              google.maps.event.addListener(marker, 'click', (function(marker, i) {
                  return function() {
                      infowindow.setContent(locations[i][0]);
                      infowindow.open(map, marker);
                  }
              })(marker, i));
              google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
                  return function() {
                      infowindow.setContent(locations[i][3]);
                      infowindow.open(map, marker);
                  }
              })(marker, i));
          }
          //now fit the map to the newly inclusive bounds
          map.fitBounds(bounds);
          //(optional) restore the zoom level after the map is done scaling
          var listener = google.maps.event.addListener(map, "idle", function() {
              map.setZoom(4);
              google.maps.event.removeListener(listener);
          });
      }

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbsUkw0lcfyFVEqFgkafNY4FRTDryZWIo&callback=initializeKeito" async defer></script>

  </body>
</html>
