@import url(https://fonts.googleapis.com/css?family=ABeeZee);

body,html {
  font-family: 'ABeeZee', sans-serif;
  height: 100%;
}
body {
  padding-top: 50px;
}

#brand-logo{
  font-size: 13px;
  text-align:center;
}
#brand-logo #keito{
  max-width: 0px;
  visibility: hidden;
}
#brand-logo:hover #keito{
  visibility: visible;
}
img#logo{
  width: 2em;
  height: 3em;
  //display: none;
}
#mainNav{
  background-color: #fff;
  color: #2196F3;
  box-shadow: none;
}
.card-panel{
  box-shadow: none;
}
#mainNav > div > ul > li > a {
  color: #42a5f5;
  margin-right: 3em;
}
img#brandlogo{
  width: 15em;
  height: 15em;
}
img#android_logo{
  width: 30em;
  height: 3em;
  //border-right: 1px solid #B8C1B7;
  float: left;
  padding: 5px;
}
.item > img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  height: auto
}
img#android_text{
  height: 3em;
  float: right;
  border-left: 1px solid #B8C1B7;
  float: left;
  padding: 5px;
}
.list-group-item-text{
  text-align: left;
}
.grey-text{
  text-align: left;
}
.glyphicon-chevron-left{
  content: url('../img/left_arrow.png');
}
.glyphicon-chevron-right{
  content: url('../img/right_arrow.png');
}
@media screen and (min-width: 768px){
  .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
    width: 75px;
    height: 75px;
    margin-top: -30px;
    font-size: 30px;
  }
}
