
body,html {
  height: 100%;
}
body {
  padding-top: 50px;
}

#brand-logo{
  font-size: 13px;
  text-align:center;
}
#brand-logo #keito{
  max-width: 0px;
  visibility: hidden;
}
#brand-logo:hover #keito{
  visibility: visible;
}
img#logo{
  width: 2em;
  height: 3em;
  //display: none;
}
#mainNav{
  background-color: #03a9f4;
}
img#brandlogo{
  width: 15em;
  height: 15em;
}
img#android_logo{
  width: 5em;
  height: 3em;
  border-right: 1px solid #B8C1B7;
  float: left;
}
.item > img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  height: auto
}
img#android_text{
  height: 3em;
  float: right;
}
