
    <div class="container row">
      <div class="col-sm-6">
        <h2 class="blue-text lighten-4">Keito</h2>
        <h4 class="blue-text lighten-2">Always helps you get connected</h4>
      </div>
      <div class="col-sm-6">
          <iframe id="appanim" class="embed-responsive-item" src="partials/appanim/index.html" frameborder="0" />
      </div>
    </div>

    <div class="blue lighten-4">
    <ul class="nav nav-tabs tabs" style="background-color: #BBDEFB;">
        <li class="tab active"><a data-toggle="tab" data-target="#about">About</a></li>
        <li class="tab"><a data-toggle="tab" data-target="#team">Team</a></li>
    </ul>

    <div class="tab-content">
      <div id="about" class="tab-pane fade in active">
        <div class="container">
          <h5>Our Vision &lt;Short term and Long term&gt;</h5>
          <ul style="list-style: none;">
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
          </ul>

          <br><br><br>

          <h5>Why we built Keito?</h5>
          <ul style="list-style: none;">
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
          </ul>
        </div>
      </div>
      <div id="team" class="tab-pane fade">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <!-- -->
              <div class="card small center">

                <img class="activator" src="img/photo.jpg" alt="team memeber photo">

                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">
                    NAME
                    <i class="material-icons right">more_vert</i>
                  </span>
                  <p>
                    small heading here
                  </p>
                </div>
                <div class="card-action blue lighten-1">
                  <a href=""><i class="material-icons">school</i></a>
                  <a href=""><i class="material-icons">school</i></a>
                  <a href=""><i class="material-icons">school</i></a>
                  <a href=""><i class="material-icons">school</i></a>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">
                    NAME<br>small heading here
                    <i class="material-icons right">close</i>
                  </span>
                  <p style="text-align: left;">
                    long descriptionlong descriptionlong descriptionlong descriptionlong descriptionlong description
                  </p>
                </div>
              </div>
              <!-- -->
            </div>
            <div class="col-sm-4">
              <!-- -->
              <div class="card small center">

                <img class="activator" src="img/photo.jpg" alt="team memeber photo">

                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">
                    NAME
                    <i class="material-icons right">more_vert</i>
                  </span>
                  <p>
                    small heading here
                  </p>
                </div>
                <div class="card-action blue lighten-1">
                  <a href=""><i class="material-icons">school</i></a>
                  <a href=""><i class="material-icons">school</i></a>
                  <a href=""><i class="material-icons">school</i></a>
                  <a href=""><i class="material-icons">school</i></a>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">
                    NAME<br>small heading here
                    <i class="material-icons right">close</i>
                  </span>
                  <p style="text-align: left;">
                    long descriptionlong descriptionlong descriptionlong descriptionlong descriptionlong description
                  </p>
                </div>
              </div>
              <!-- -->
            </div>
            <div class="col-sm-4">
              <!-- -->
              <div class="card small center">

                <img class="activator" src="img/photo.jpg" alt="team memeber photo">

                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">
                    NAME
                    <i class="material-icons right">more_vert</i>
                  </span>
                  <p>
                    small heading here
                  </p>
                </div>
                <div class="card-action blue lighten-1">
                  <a href=""><i class="material-icons">school</i></a>
                  <a href=""><i class="material-icons">school</i></a>
                  <a href=""><i class="material-icons">school</i></a>
                  <a href=""><i class="material-icons">school</i></a>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">
                    NAME<br>small heading here
                    <i class="material-icons right">close</i>
                  </span>
                  <p style="text-align: left;">
                    long descriptionlong descriptionlong descriptionlong descriptionlong descriptionlong description
                  </p>
                </div>
              </div>
              <!-- -->
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <!-- -->
              <div class="card small center">

                <img class="activator" src="img/photo.jpg" alt="team memeber photo">

                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">
                    NAME
                    <i class="material-icons right">more_vert</i>
                  </span>
                  <p>
                    small heading here
                  </p>
                </div>
                <div class="card-action blue lighten-1">
                  <a href=""><i class="material-icons">school</i></a>
                  <a href=""><i class="material-icons">school</i></a>
                  <a href=""><i class="material-icons">school</i></a>
                  <a href=""><i class="material-icons">school</i></a>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">
                    NAME<br>small heading here
                    <i class="material-icons right">close</i>
                  </span>
                  <p style="text-align: left;">
                    long descriptionlong descriptionlong descriptionlong descriptionlong descriptionlong description
                  </p>
                </div>
              </div>
              <!-- -->
            </div>
            <div class="col-sm-4">
              <!-- -->
              <div class="card small center">

                <img class="activator" src="img/photo.jpg" alt="team memeber photo">

                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">
                    NAME
                    <i class="material-icons right">more_vert</i>
                  </span>
                  <p>
                    small heading here
                  </p>
                </div>
                <div class="card-action blue lighten-1">
                  <a href=""><i class="material-icons">school</i></a>
                  <a href=""><i class="material-icons">school</i></a>
                  <a href=""><i class="material-icons">school</i></a>
                  <a href=""><i class="material-icons">school</i></a>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">
                    NAME<br>small heading here
                    <i class="material-icons right">close</i>
                  </span>
                  <p style="text-align: left;">
                    long descriptionlong descriptionlong descriptionlong descriptionlong descriptionlong description
                  </p>
                </div>
              </div>
              <!-- -->
            </div>
            <div class="col-sm-4">
              <!-- -->
              <div class="card small center">

                <img class="activator" src="img/photo.jpg" alt="team memeber photo">

                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">
                    NAME
                    <i class="material-icons right">more_vert</i>
                  </span>
                  <p>
                    small heading here
                  </p>
                </div>
                <div class="card-action blue lighten-1">
                  <a href=""><i class="material-icons">school</i></a>
                  <a href=""><i class="material-icons">school</i></a>
                  <a href=""><i class="material-icons">school</i></a>
                  <a href=""><i class="material-icons">school</i></a>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">
                    NAME<br>small heading here
                    <i class="material-icons right">close</i>
                  </span>
                  <p style="text-align: left;">
                    long descriptionlong descriptionlong descriptionlong descriptionlong descriptionlong description
                  </p>
                </div>
              </div>
              <!-- -->
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
