
    <div class="conteiner row">
      <div class="col-sm-6">
        <h2 class="blue-text lighten-4">Keito</h2>
        <h4 class="blue-text lighten-2">Always helps you get connected</h4>
      </div>
      <div class="col-sm-6">
          <iframe id="appanim" class="embed-responsive-item" src="partials/appanim/index.html" frameborder="0" />
      </div>
    </div>

    <div class="blue lighten-4">
    <ul class="nav nav-tabs tabs" style="background-color: #BBDEFB;">
        <li class="tab active"><a data-toggle="tab" data-target="#about">About</a></li>
        <li class="tab"><a data-toggle="tab" data-target="#team">Team</a></li>
    </ul>

    <div class="tab-content">
      <div id="about" class="tab-pane fade in active">
        <div class="container">
          <h3>HOME</h3>
          <p>Some content.</p>
        </div>
      </div>
      <div id="team" class="tab-pane fade">
        <div class="container">
          <h3>Menu 1</h3>
          <p>Some content in menu 1.</p>
        </div>
      </div>
    </div>
    </div>
