
    <div class="conteiner row">
      <div class="col-sm-6">
        <h2 class="blue-text lighten-4">Keito</h2>
        <h4 class="blue-text lighten-2">Always helps you get connected</h4>
      </div>
      <div class="col-sm-6">
          <iframe id="appanim" class="embed-responsive-item" src="partials/appanim/index.html" frameborder="0" />
      </div>
    </div>

    <div class="blue lighten-4">
    <ul class="nav nav-tabs tabs" style="background-color: #BBDEFB;">
        <li class="tab active"><a data-toggle="tab" data-target="#about">About</a></li>
        <li class="tab"><a data-toggle="tab" data-target="#team">Team</a></li>
    </ul>

    <div class="tab-content">
      <div id="about" class="tab-pane fade in active">
        <div class="container">
          <h5>Our Vision &lt;Short term and Long term&gt;</h5>
          <ul style="list-style: none;">
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
          </ul>

          <br><br><br>

          <h5>Why we built Keito?</h5>
          <ul style="list-style: none;">
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
          </ul>
        </div>
      </div>
      <div id="team" class="tab-pane fade">
        <div class="container">

          <!-- 
          <div class="card card--a card--s mbm mbf--m mlm--m mrm--m">
            <div class="mbm tac">
              <h1>Monthly Plan</h1>
              <h2 class="th1">
                <span class="tcs tshl">$</span>
                <span class="tshxxl">29</span>
                <span class="th2 vat">/ mo</span>
              </h2>
            </div>
            <div class="mbm mbf--m por pot3 tac">
              <a href="" class="btn btn--wide btn--success db dib--s mbs mbf--s mrs js-enroll-now-btn evt-enroll-ind-month">Enroll Now</a>
            </div>
          </div>

          <div class="card card--a card--s mbm mbf--m mlm--m mrm--m">
            <div class="mbm tac">
              <h1>Monthly Plan</h1>
              <h2 class="th1">
                <span class="tcs tshl">$</span>
                <span class="tshxxl">29</span>
                <span class="th2 vat">/ mo</span>
              </h2>
            </div>
            <div class="mbm mbf--m por pot3 tac">
              <a href="" class="btn btn--wide btn--success db dib--s mbs mbf--s mrs js-enroll-now-btn evt-enroll-ind-month">Enroll Now</a>
            </div>
          </div>
           -->

        </div>
      </div>
    </div>
    </div>
