
    <div class="container row">
      <div class="col-sm-6">
        <h2 class="blue-text lighten-4">Keito Biz</h2>
        <h4 class="blue-text lighten-2">Fast growth of business</h4>
      </div>
      <div class="col-sm-6">
          <iframe id="bizanim" class="embed-responsive-item" src="partials/travel/index.html" frameborder="0" scrollable="no" />
      </div>
    </div>

    <div class="blue lighten-4">
    <ul class="nav nav-tabs tabs" style="background-color: #BBDEFB;">
        <li class="tab active"><a data-toggle="tab" data-target="#about">About</a></li>
        <li class="tab"><a data-toggle="tab" data-target="#bc">Business Chat</a></li>
        <li class="tab"><a data-toggle="tab" data-target="#promote">Promote</a></li>
        <li class="tab"><a data-toggle="tab" data-target="#casestudies">Case Studies</a></li>
    </ul>

    <div class="tab-content">
      <div id="about" class="tab-pane fade in active">
        <div class="container">
          <h5>Our Vision &lt;Short term and Long term&gt;</h5>
          <ul style="list-style: none;">
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
          </ul>

          <br><br><br>

          <h5>Why we built Keito?</h5>
          <ul style="list-style: none;">
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
          </ul>
        </div>
      </div>
      <div id="bc" class="tab-pane fade">
        <div class="container">
          <h5>Our Vision &lt;Short term and Long term&gt;</h5>
          <ul style="list-style: none;">
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
          </ul>

          <br><br><br>

          <h5>Why we built Keito?</h5>
          <ul style="list-style: none;">
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
          </ul>
        </div>
      </div>
      <div id="promote" class="tab-pane fade">
        <div class="container">
          <h5>Our Vision &lt;Short term and Long term&gt;</h5>
          <ul style="list-style: none;">
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
          </ul>

          <br><br><br>

          <h5>Why we built Keito?</h5>
          <ul style="list-style: none;">
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
          </ul>
        </div>
      </div>
      <div id="casestudies" class="tab-pane fade">
        <div class="container">
          <h5>Our Vision &lt;Short term and Long term&gt;</h5>
          <ul style="list-style: none;">
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
          </ul>

          <br><br><br>

          <h5>Why we built Keito?</h5>
          <ul style="list-style: none;">
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
            <li>simple chat app which gives you synchronous connection to the verified vendor</li>
          </ul>
        </div>
      </div>
    </div>
    </div>
