

    <div class="container row">
      <div class="col-sm-6">
        <h2 class="blue-text lighten-4">Contact us</h2>
        <h4 class="blue-text lighten-2">We are here to help</h4>
      </div>
      <div class="col-sm-6">
          <iframe id="appanim" class="embed-responsive-item" src="partials/cusanim/index.html" frameborder="0" />
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <form role="form" method="POST" action="" accept-charset="UTF-8" enctype="multipart/form-data">
            <fieldset>
              <div class='form-group'>
                  <input type="text" placeholder="Name" class="form-control" id="fromname" name="fromname">
              </div>
              <div class='form-group'>
                  <input type="email" placeholder="Email Address" class="form-control" id="fromemail" name="fromemail">
              </div>
              <div class='form-group'>
                  <textarea placeholder="Type here" class="form-control" id="msg" name="msg" cols="40" rows="5"></textarea>
                  <span id="ccdispqwe"></span>
              </div>
              <button type="button" name='emailBtn' class='btn btn-lg btn-block waves-effect waves-light' onClick="sendEMail()">SEND</button>
            </fieldset>
          </form>
        </div>
        <div class="col-sm-6">
          <div class="list-group grey-text lighten-2">
              <p class="list-group-item-text">Keito India Pvt Ltd</p>
              <p class="list-group-item-text">Pashan</p>
              <p class="list-group-item-text">Wakad</p>
              <p class="list-group-item-text">Maharastra</p>
              <p class="list-group-item-text">Pin: 411057</p>
          </div>

          <div class="list-group grey-text lighten-2">
              <p class="list-group-item-text">
                <span style="text-align:left;">Phone number</span>
                <span style="text-align:right;">: <a href="tel:00911XXXXXXXXX">+911 XXX-XXX-XXX</a></span>
              </p>
              <p class="list-group-item-text">
                <span style="text-align:left;">Email us</span>
                <span style="text-align:right;">: <a href="mailto:info@keito.in">info@keito.in</a></span>
              </p>
              <p class="list-group-item-text">
                <span style="text-align:left;">Business Queries</span>
                <span style="text-align:right;">: <a href="mailto:business@keito.in">business@keito.in</a></span>
              </p>
          </div>
        </div>
      </div>
    </div>
