<div class="container text-center">
    <div class="row">
      <div class="col-sm-6">
        <img id="brandlogo" class="logo center-block img-responsive" src="img/logo.png" />
        <br>
        <h2>Keito</h2>
        <div class="list-group">
            <p class="list-group-item-text">List Group Item Text</p>
            <p class="list-group-item-text">List Group Item Text</p>
            <p class="list-group-item-text">List Group Item Text</p>
            <p class="list-group-item-text">List Group Item Text</p>
        </div>
      </div>
      <div class="col-sm-6">
        <img src="http://placehold.it/350x350">
      </div>
    </div>
    <div class="row">
      <hr style="width: 100%; color: grey; height: 1px; background-color: grey;" />
      <span class="col-sm-9">
        <h4>AVAILABLE ON ANDROID from 1<sup>st</sup> September, 2016</h4>
      </span>
      <span class="col-sm-3">
        <div class="row">
          <div class="col-sm-3">
            <img id="android_logo" class="logo center-block img-responsive" src="img/androidico.png" />
          </div>
          <div class="col-sm-9">
            <img id="android_text" class="center-block img-responsive" src="img/android_text.png" />
          </div>
        </div>
      </span>
      <hr style="width: 100%; color: grey; height: 1px; background-color:grey;" />
    </div>
    <div class="row">
      <h3>Our Clients</h3>

      <!-- carousel -->
      <div id="ourClients" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <!--
        <ol class="carousel-indicators">
          <li data-target="ourClients" data-slide-to="0" class="active"></li>
          <li data-target="ourClients" data-slide-to="1"></li>
          <li data-target="ourClients" data-slide-to="2"></li>
          <li data-target="ourClients" data-slide-to="3"></li>
          <li data-target="ourClients" data-slide-to="4"></li>
          <li data-target="ourClients" data-slide-to="5"></li>
          <li data-target="ourClients" data-slide-to="6"></li>
        </ol>
        -->
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="http://placehold.it/350x150">
            <!--<div class="carousel-caption">
              <p> #ShrimadhavUK</p>
            </div>-->
          </div>

          <div class="item">
            <img src="http://placehold.it/350x150">
            <!--<div class="carousel-caption">
              <p> #ShrimadhavUK</p>
            </div>-->
          </div>

          <div class="item">
            <img src="http://placehold.it/350x150">
            <!--<div class="carousel-caption">
              <p> #ShrimadhavUK</p>
            </div>-->
          </div>

          <div class="item">
            <img src="http://placehold.it/350x150">
            <!--<div class="carousel-caption">
              <p> #ShrimadhavUK</p>
            </div>-->
          </div>

          <div class="item">
            <img src="http://placehold.it/350x150">
            <!--<div class="carousel-caption">
              <p> #ShrimadhavUK</p>
            </div>-->
          </div>

          <div class="item">
            <img src="http://placehold.it/350x150">
            <!--<div class="carousel-caption">
              <p> #ShrimadhavUK</p>
            </div>-->
          </div>

          <div class="item">
            <img src="http://placehold.it/350x150">
            <!--<div class="carousel-caption">
              <p> #ShrimadhavUK</p>
            </div>-->
          </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" data-target="#ourClients" role="button" data-slide="prev" style="background-image: none;"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="sr-only">Previous</span></a>
      <a class="right carousel-control" data-target="#ourClients" role="button" data-slide="next" style="background-image: none;"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="sr-only">Next</span></a></div>

      <!-- /carousel -->

    </div>
    <div class="row">
      <footer class="footer">
        <div class="container">
          <p class="text-muted pull-left">Place sticky footer content here.</p>
        </div>
      </footer>
    </div>
</div>
