<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>me - pure css</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <div class="background">
        <div class="frame"></div>
        <div class="me">
            <div class="me-body"></div>
            <div class="me-head">
                <div class="hair"></div>
                <div class="face">
                    <div class="eyee-1"></div>
                    <div class="eyee-2"></div>
                    <div class="mouth"></div>
                </div>
                <div class="hair-front"></div>
            </div>
        </div>
        <div class="table">
            <div class="bowl">
                <div class="cable">
                    <div class="leaf-1"></div>
                    <div class="leaf-2"></div>
                    <div class="leaf-3"></div>
                    <div class="leaf-4"></div>
                </div>
            </div>
            <div class="bowl-2">
                <div class="caneta-1"></div>
                <div class="caneta-2"></div>
            </div>
            <div class="notebook">
                <div class="apple"></div>
            </div>
            <div class="book-1"></div>
            <div class="book-2"></div>
            <div class="book-3"></div>
            <div class="coffee">
                <div class="smoke"></div>
            </div>
        </div>
        <div class="flower"></div>
    </div>

  </body>
</html>
